@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 92% 94%;
    --foreground: 224 71% 4%;
    --card: 197 92% 99%;
    --card-foreground: 224 71% 4%;
    --popover: 197 92% 99%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 77% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 80% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 197 70% 91%;
    --muted-foreground: 225 40% 30%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 50% 85%;
    --input: 197 50% 88%;
    --ring: 197 77% 52%;
    --chart-1: 197 77% 52%;
    --chart-2: 120 73% 75%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 197 77% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 197 92% 94%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 197 50% 85%;
    --sidebar-ring: 197 77% 52%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 197 92% 94%;
    --card: 224 71% 6%;
    --card-foreground: 197 92% 94%;
    --popover: 224 71% 4%;
    --popover-foreground: 197 92% 94%;
    --primary: 197 77% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 197 92% 94%;
    --muted: 224 71% 10%;
    --muted-foreground: 197 50% 80%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 12%;
    --input: 224 71% 12%;
    --ring: 197 77% 52%;
    --chart-1: 197 77% 52%;
    --chart-2: 120 73% 75%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 197 92% 94%;
    --sidebar-primary: 197 77% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 197 92% 94%;
    --sidebar-border: 224 71% 12%;
    --sidebar-ring: 197 77% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
